body {
    font-family: sans-serif;
}

:root {
    --color1: #ED7218;
    --color2: #F48024;
    --color3: #F9AC44;
    --color4: #E0E5EB;
}

.bg-color1 {
    background-color: #ED7218;
}

.bg-color2 {
    background-color: #F48024;
}

.bg-color3 {
    background-color: #F9AC44;
}

.bg-color4 {
    background-color: #E0E5EB;
}

.t-color1 {
    color: #ED7218;
}

.t-color2 {
    color: #F48024;
}

.t-color3 {
    color: #F9AC44;
}

.t-color4 {
    color: #E0E5EB;
}



/* 
@media (max-width: 576px) {
    
}
@media (min-width: 576px) and (max-width: 768px) {
    
}
@media (min-width: 768px) {
   
} 
*/




